// === Variables ===
$white: #ffffff;
$black: #1c1c1c;
$gray: #d2d2d2;
$dark-blue: #1f2937;
$blue: #2b75ec;
$turquoise: #2ec4de;
$gradient1: $blue;
$gradient2: $turquoise;

// === Globals ===
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: $black;
  color: $white;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    min-width: 550px;
    height: max-content;

    .top {
      background: linear-gradient(246.26deg, $gradient1 0%, $gradient2 100%);

      form {
        display: flex;
        flex-direction: column;
        padding: 53px 0 13px 0;

        label {
          font-size: 22px;
          font-weight: 800;
          line-height: 38px;
          letter-spacing: 1px;
        }

        input {
          padding: 0;
          border: none;
          background-color: transparent;
          font-size: 97px;
          font-weight: 800;
          text-align: center;
          max-width: 211px;
          margin: 0 auto;
          color: $white;
          cursor: pointer;
          caret-color: $turquoise;
          -moz-appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }

          &::placeholder {
            color: $white;
          }

          &:focus {
            outline: none;
            -moz-appearance: textfield;
          }
        }
      }
    }

    .bottom {
      background-color: $dark-blue;
      padding: 38px 0;

      p:nth-of-type(1) {
        margin-bottom: 5px;
        font-weight: 600;
      }

      p:nth-of-type(2) {
        margin-bottom: 27px;
        color: $gray;
      }
    }
  }
}
